In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import nltk as nlp
import re
import string
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from nltk.tokenize import word_tokenize
import warnings
warnings.filterwarnings('ignore')

In [21]:
df = pd.read_csv(r"E:\portfolio\fake_news_detection\dataset\train.csv")

In [22]:
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [23]:
df.isnull().sum()
df.dropna(inplace=True)

<class 'pandas.core.frame.DataFrame'>
Index: 18285 entries, 0 to 20799
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      18285 non-null  int64
 1   title   18285 non-null  object
 2   author  18285 non-null  object
 3   text    18285 non-null  object
 4   label   18285 non-null  int64
dtypes: int64(2), object(3)
memory usage: 857.1+ KB

In [25]:
x_df = df['text']
y_df = df['label']

In [27]:
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
count_vectorizer = CountVectorizer()
count_vectorizer.fit_transform(x_df)
freq_term_matrix = count_vectorizer.transform(x_df)
tfidf = TfidfTransformer(norm = "l2")
tfidf.fit(freq_term_matrix)
tf_idf_matrix = tfidf.fit_transform(freq_term_matrix)
print(tf_idf_matrix)

  (0, 145628)	0.008824118297491561
  (0, 145306)	0.04519198046499708
  (0, 145264)	0.010316050744314404
  (0, 145254)	0.010842630450908688
  (0, 144239)	0.04074732197992389
  (0, 144233)	0.08752206659095417
  (0, 144167)	0.03477287798339394
  (0, 144112)	0.01265863187643227
  (0, 143647)	0.025601509108635574
  (0, 143483)	0.02415293991655226
  (0, 143238)	0.008383778053765818
  (0, 142894)	0.03732424824157152
  (0, 142690)	0.008137857946966153
  (0, 142658)	0.025583120218412754
  (0, 142599)	0.0252786055101258
  (0, 142357)	0.01562949895822612
  (0, 142251)	0.011590045098573096
  (0, 142143)	0.02750697036818466
  (0, 142047)	0.013046460060619424
  (0, 141885)	0.05656162488149217
  (0, 141816)	0.011253235663490341
  (0, 141592)	0.055355620375108314
  (0, 140761)	0.02613942679512965
  (0, 140736)	0.020164208580259167
  (0, 140713)	0.016312405646611183
  :	:
  (18284, 6387)	0.014564776481095144
  (18284, 6313)	0.03598369091147204
  (18284, 5956)	0.011325777894807152
  (18284, 5166)	0.016969507009252226
  (18284, 4990)	0.03788490662223019
  (18284, 4955)	0.0177594507993612
  (18284, 4849)	0.034840963659361214
  (18284, 4449)	0.02151597921818425
  (18284, 4112)	0.012620167032269492
  (18284, 4094)	0.015885809133237016
  (18284, 3567)	0.02728524362960014
  (18284, 3465)	0.018403218823301593
  (18284, 3395)	0.02733493498207187
  (18284, 2452)	0.028318605509437596
  (18284, 2177)	0.018872103882860317
  (18284, 2135)	0.04175873679120073
  (18284, 1991)	0.23323271334274806
  (18284, 1875)	0.017621640466194095
  (18284, 1826)	0.013095177137603914
  (18284, 1326)	0.018737174191089216
  (18284, 1322)	0.02523381909019735
  (18284, 1289)	0.019890954901878012
  (18284, 610)	0.033003700663199194
  (18284, 347)	0.013120729466626197
  (18284, 1)	0.03212726048992841

In [28]:
x_train, x_test, y_train, y_test = train_test_split(tf_idf_matrix,y_df, random_state=0)

In [29]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(x_train, y_train)
Accuracy = logreg.score(x_test, y_test)
print(Accuracy*100)

94.92563429571304